
body{
    margin: 0;
    padding: 0;
    background-color: #eee;

}
.container{

    display: flex;
    flex-direction: row;
    margin: 0% 10%;

}
.aside-container{
    width: 30%;
    height: auto;
    background-color: #155e91;
    color: white;
    
}

h4{
    padding: 0%;
    margin: 0%;
    text-align: center;
}
.section-container{
    width: 70%;
    height: 100vh;
    background-color: #ffffff;
}
@media only screen and (max-width: 850px){
    .container{
        margin: 0;
    }
}
@media only screen and (max-width: 768px){
    .container{
        flex-direction: column;
    }
    .aside-container{
        width: 100%;
        height: auto;
        
    }
    .section-container{
        width: 100%;
        height: auto;
    }
        
}
.img-holder{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 5px solid white;
    
}
.img{
    
   height: 100%;
}
.side-container{
    display: flex;
    justify-content: center;
    margin: 10% ;
  
}

.heading{
    font-size: 16px;
   text-align: center;
}
.link{
    
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 25rem;

}
.skill{
    margin: 10px 10px;
    border-top: 2px solid wheat;
}
ul{
    padding: 1rem;;
}
ol{
    list-style: none;
    padding: 0;
}
ol > li {
    display: inline-block;
    background-color: rgb(112, 186, 216);
    margin: 3px;
    padding: 4px;
    border-radius: 4px;
}
.edu-container{
    margin: 10px 10px;
    border-top: 2px solid wheat;
    

}
.edu{
    
    margin: 10px,10px;
}
.edu > h6 {
    text-align: center;
}
.edu > h6 {
   font-size: 20px;
   margin: 10px 10px;
}
.intern{
text-align: left;
font-weight: 100;
}
.intern >li{
    padding: 2px;
}
.edu > p {
    font-size: 17px;
    padding-left: 15px;
    
}
.sec{
    display: flex;
    flex-direction: column;
}
.header{
    margin: 5px 10px;

}
.header > h1{
    font-size: 32px;
    margin: 2px 0;
    color: teal;
    text-align: center;

}
.bio{
    padding: 1%;
    text-align: center;
    color: #155e91;
}
.header > p{
    font-size: 16px;
    color: rgb(5, 26, 23);
    font-weight: 600;
}
.logo{
    display: flex;
    flex-direction: row;
    padding: 5px 5px;

}
.image{
    height: 30px;
    width: 30px;
    padding: 5px;
}
.image-1{
    height: 30px;
    width: 35px;
    padding: 5px;
}
.projects{
    margin:0 15px;
    border-top: 2px solid wheat;

}
.pro-detail > h3{
    font-size: 15px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

}
.pro-detail{
    border: none;
    padding: 10px;
    background-color: #dce9f3

    
}
.pro-detail > p{
    font-size: 13px;
    margin:20px 20px;
    
}
.mail{
    padding-top: 15px;
}


























   
